In [3]:
import numpy as np
import pandas as pd

In [4]:
credits=pd.read_csv('tmdb_5000_credits.csv')
movies=pd.read_csv('tmdb_5000_movies.csv')

In [5]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [6]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [7]:
movie=movies.merge(credits ,on='title')

In [8]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
#genre
#id
#keyword
#title
#overview
#popularity
#cast 
#review

In [10]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [11]:
movies=movie[['movie_id','title','overview','genres','keywords','cast','crew']]

In [12]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.dropna(inplace=True)

C:\Users\rishika\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [1]:
import numpy as np
import pandas as pd

credits=pd.read_csv('tmdb_5000_credits.csv')
movies=pd.read_csv('tmdb_5000_movies.csv')
credits.head(2)
movies.head(2)
movie=movies.merge(credits ,on='title')
movie.head(1)

movie.info()
movies=movie[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head()
movies.isnull().sum()
movies.dropna(inplace=True)
movies.duplicated().sum()
movies.iloc[0].genres
import ast
t=ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
import ast
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L 
movies['genres'] = movies['genres'].apply(convert)
movies.head()

movies['keywords'] = movies['keywords'].apply(convert)
movies.head()
import ast
def convert3(text):
    L = []
    counter=0
    for i in ast.literal_eval(text):
        if counter<3:
            L.append(i['name']) 
    return L 
movies['cast'] = movies['cast'].apply(convert)
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L 
movies['crew'] = movies['crew'].apply(fetch_director)
movies.head
movies['genres']=movies['genres'].apply(lambda x:[i.replace("","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace("","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace("","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace("","") for i in x])
movies.info()
movie.head(2)
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies['tag']=movies['overview']+movies['keywords']+movies['crew']+movies['genres']+movies['cast']
movies.head()
new_df=movies[['movie_id','title','tag']]
new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))
new_df['tag'][1]
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')
vectors=cv.fit_transform(new_df['tag']).toarray()
vectors[0]
cv.get_feature_names()
import nltk
from nltk.stem.porter import PorterStemmer
ps =PorterStemmer()
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y) 
new_df['tag']=new_df['tag'].apply(stem)
from sklearn.metrics.pairwise import cosine_similarity
sorted(similarity[0],reverse=True)
new_df[new_df['title'] == 'The Lego Movie'].index[0]
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)
recommend('Avatar')
new_df['title'].values
import pickle
pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

C:\Users\rishika\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Users\rishika\AppData\Local\Temp/ipykernel_12424/4238838727.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert)
C:\Users\rishika\AppData\Local\Temp/ipykernel_12424/4238838727.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert)
C:\Users\rishika\AppData\Local\Temp/ipykernel_12424/4238838727.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(convert)
C:\Users\rishika\AppData\Local\Temp/ipykernel_12424/4238838727.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(fetch_director)

<bound method NDFrame.head of       movie_id                                     title  \
0        19995                                    Avatar
1          285  Pirates of the Caribbean: At World's End
2       206647                                   Spectre
3        49026                     The Dark Knight Rises
4        49529                               John Carter
...        ...                                       ...
4804      9367                               El Mariachi
4805     72766                                 Newlyweds
4806    231617                 Signed, Sealed, Delivered
4807    126186                          Shanghai Calling
4808     25975                         My Date with Drew

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bond’s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4804  El Mariachi just wants to play his guitar and ...
4805  A newlywed couple's honeymoon is upended by th...
4806  "Signed, Sealed, Delivered" introduces a dedic...
4807  When ambitious New York attorney Sam is sent t...
4808  Ever since the second grade when he first saw ...

                                             genres  \
0     [Action, Adventure, Fantasy, Science Fiction]
1                      [Adventure, Fantasy, Action]
2                        [Action, Adventure, Crime]
3                  [Action, Crime, Drama, Thriller]
4              [Action, Adventure, Science Fiction]
...                                             ...
4804                      [Action, Crime, Thriller]
4805                              [Comedy, Romance]
4806             [Comedy, Drama, Romance, TV Movie]
4807                                             []
4808                                  [Documentary]

                                               keywords  \
0     [culture clash, future, space war, space colon...
1     [ocean, drug abuse, exotic island, east india ...
2     [spy, based on novel, secret agent, sequel, mi...
3     [dc comics, crime fighter, terrorist, secret i...
4     [based on novel, mars, medallion, space travel...
...                                                 ...
4804  [united states–mexico barrier, legs, arms, pap...
4805                                                 []
4806  [date, love at first sight, narration, investi...
4807                                                 []
4808          [obsession, camcorder, crush, dream girl]

                                                   cast  \
0     [Sam Worthington, Zoe Saldana, Sigourney Weave...
1     [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2     [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3     [Christian Bale, Michael Caine, Gary Oldman, A...
4     [Taylor Kitsch, Lynn Collins, Samantha Morton,...
...                                                 ...
4804  [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805  [Edward Burns, Kerry Bishé, Marsha Dietlein, C...
4806  [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4807  [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4808  [Drew Barrymore, Brian Herzlinger, Corey Feldm...

                                          crew
0                              [James Cameron]
1                             [Gore Verbinski]
2                                 [Sam Mendes]
3                          [Christopher Nolan]
4                             [Andrew Stanton]
...                                        ...
4804                        [Robert Rodriguez]
4805                            [Edward Burns]
4806                             [Scott Smith]
4807                             [Daniel Hsia]
4808  [Brian Herzlinger, Jon Gunn, Brett Winn]

[4806 rows x 7 columns]>

In [15]:
movies.duplicated().sum()

0

In [16]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
import ast
t=ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [18]:
t

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [19]:
import ast
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [20]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/1163378803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [22]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/2480151099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
import ast
def convert3(text):
    L = []
    counter=0
    for i in ast.literal_eval(text):
        if counter<3:
            L.append(i['name']) 
    return L

In [24]:
movies['cast'] = movies['cast'].apply(convert)

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/3226101567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(convert)

In [25]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [26]:
movies['crew'] = movies['crew'].apply(fetch_director)

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/4159008703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(fetch_director)

In [27]:
movies.head

<bound method NDFrame.head of       movie_id                                     title  \
0        19995                                    Avatar
1          285  Pirates of the Caribbean: At World's End
2       206647                                   Spectre
3        49026                     The Dark Knight Rises
4        49529                               John Carter
...        ...                                       ...
4804      9367                               El Mariachi
4805     72766                                 Newlyweds
4806    231617                 Signed, Sealed, Delivered
4807    126186                          Shanghai Calling
4808     25975                         My Date with Drew

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bond’s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4804  El Mariachi just wants to play his guitar and ...
4805  A newlywed couple's honeymoon is upended by th...
4806  "Signed, Sealed, Delivered" introduces a dedic...
4807  When ambitious New York attorney Sam is sent t...
4808  Ever since the second grade when he first saw ...

                                             genres  \
0     [Action, Adventure, Fantasy, Science Fiction]
1                      [Adventure, Fantasy, Action]
2                        [Action, Adventure, Crime]
3                  [Action, Crime, Drama, Thriller]
4              [Action, Adventure, Science Fiction]
...                                             ...
4804                      [Action, Crime, Thriller]
4805                              [Comedy, Romance]
4806             [Comedy, Drama, Romance, TV Movie]
4807                                             []
4808                                  [Documentary]

                                               keywords  \
0     [culture clash, future, space war, space colon...
1     [ocean, drug abuse, exotic island, east india ...
2     [spy, based on novel, secret agent, sequel, mi...
3     [dc comics, crime fighter, terrorist, secret i...
4     [based on novel, mars, medallion, space travel...
...                                                 ...
4804  [united states–mexico barrier, legs, arms, pap...
4805                                                 []
4806  [date, love at first sight, narration, investi...
4807                                                 []
4808          [obsession, camcorder, crush, dream girl]

                                                   cast  \
0     [Sam Worthington, Zoe Saldana, Sigourney Weave...
1     [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2     [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3     [Christian Bale, Michael Caine, Gary Oldman, A...
4     [Taylor Kitsch, Lynn Collins, Samantha Morton,...
...                                                 ...
4804  [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805  [Edward Burns, Kerry Bishé, Marsha Dietlein, C...
4806  [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4807  [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4808  [Drew Barrymore, Brian Herzlinger, Corey Feldm...

                                          crew
0                              [James Cameron]
1                             [Gore Verbinski]
2                                 [Sam Mendes]
3                          [Christopher Nolan]
4                             [Andrew Stanton]
...                                        ...
4804                        [Robert Rodriguez]
4805                            [Edward Burns]
4806                             [Scott Smith]
4807                             [Daniel Hsia]
4808  [Brian Herzlinger, Jon Gunn, Brett Winn]

[4806 rows x 7 columns]>

In [28]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace("","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace("","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace("","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace("","") for i in x])

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/884090237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(lambda x:[i.replace("","") for i in x])
C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/884090237.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(lambda x:[i.replace("","") for i in x])
C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/884090237.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(lambda x:[i.replace("","") for i in x])
C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/884090237.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(lambda x:[i.replace("","") for i in x])

In [29]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   overview  4806 non-null   object
 3   genres    4806 non-null   object
 4   keywords  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [31]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/3942134491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [32]:
movies['tag']=movies['overview']+movies['keywords']+movies['crew']+movies['genres']+movies['cast']

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/2146064677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tag']=movies['overview']+movies['keywords']+movies['crew']+movies['genres']+movies['cast']

In [33]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [34]:
new_df=movies[['movie_id','title','tag']]

In [35]:
new_df

,movie_id,title,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [36]:
new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/4079141722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

In [37]:
new_df['tag'][1]

"Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems. ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger Gore Verbinski Adventure Fantasy Action Johnny Depp Orlando Bloom Keira Knightley Stellan Skarsgård Chow Yun-fat Bill Nighy Geoffrey Rush Jack Davenport Kevin McNally Tom Hollander Naomie Harris Jonathan Pryce Keith Richards Lee Arenberg Mackenzie Crook Greg Ellis David Bailie Martin Klebba David Schofield Lauren Maher Vanessa Branch Angus Barnett Giles New Reggie Lee Dominic Scott Kay Takayo Fischer David Meunier Ho-Kwan Tse Andy Beckwith Peter Donald Badalamenti II Christopher S. Capp Keith Richards Hakeem Kae-Kazim Ghassan Massoud"

In [38]:
new_df.head(2)

,movie_id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [41]:
vectors=cv.fit_transform(new_df['tag']).toarray()

In [42]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [43]:
cv.get_feature_names()

['000',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '1930s',
 '1940s',
 '1950s',
 '1960s',
 '1970s',
 '1980s',
 '19th',
 '20',
 '20th',
 '24',
 '30',
 '3d',
 '40',
 '50',
 'aaron',
 'abandoned',
 'abbie',
 'abbott',
 'abby',
 'abe',
 'abel',
 'abigail',
 'ability',
 'able',
 'abraham',
 'abrahams',
 'abrams',
 'abuse',
 'abusive',
 'academy',
 'accepts',
 'accident',
 'accidentally',
 'account',
 'accused',
 'ace',
 'act',
 'action',
 'actions',
 'actor',
 'actress',
 'actually',
 'adam',
 'adams',
 'adaptation',
 'addict',
 'addiction',
 'adkins',
 'adler',
 'adopted',
 'adoption',
 'adrian',
 'adriana',
 'adrien',
 'adrienne',
 'adult',
 'adultery',
 'adventure',
 'adventures',
 'advertising',
 'advice',
 'affair',
 'affleck',
 'afghanistan',
 'africa',
 'african',
 'aftercreditsstinger',
 'afterlife',
 'age',
 'aged',
 'agency',
 'agent',
 'agents',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'ahmed',
 'aid',
 'aidan',
 'aimee',
 'air',
 'airplane',
 'airport',
 'akira',
 'al',
 'alain',
 'alan',
 'alaska',
 'alba',
 'albert',
 'alberto',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alda',
 'alden',
 'alec',
 'alejandro',
 'alessandro',
 'alex',
 'alexa',
 'alexander',
 'alexandra',
 'alexandre',
 'alexia',
 'alexis',
 'alfie',
 'alfonso',
 'alfre',
 'alfred',
 'ali',
 'alice',
 'alicia',
 'alien',
 'aliens',
 'alison',
 'alive',
 'allan',
 'allen',
 'allied',
 'allies',
 'allison',
 'ally',
 'alonso',
 'alter',
 'alternate',
 'altman',
 'alvarez',
 'alvin',
 'alyson',
 'alyssa',
 'amanda',
 'amateur',
 'amazing',
 'amber',
 'ambition',
 'ambitious',
 'amelia',
 'america',
 'american',
 'americans',
 'amir',
 'amnesia',
 'amos',
 'amp',
 'amusement',
 'amy',
 'ana',
 'anastasia',
 'ancient',
 'anders',
 'anderson',
 'andie',
 'andre',
 'andrea',
 'andreas',
 'andrew',
 'andrews',
 'android',
 'andré',
 'andy',
 'angel',
 'angela',
 'angeles',
 'angelina',
 'angelo',
 'anger',
 'angie',
 'angry',
 'angus',
 'animal',
 'animals',
 'animated',
 'animation',
 'aniston',
 'anita',
 'anjelica',
 'ann',
 'anna',
 'annabelle',
 'anne',
 'annette',
 'annie',
 'annika',
 'annual',
 'ansari',
 'answers',
 'anthony',
 'anti',
 'antoine',
 'anton',
 'antoni',
 'antonio',
 'antony',
 'apart',
 'apartment',
 'apocalypse',
 'apocalyptic',
 'appears',
 'apple',
 'applegate',
 'apprentice',
 'april',
 'archaeologist',
 'archer',
 'archie',
 'architect',
 'area',
 'arena',
 'ari',
 'ariel',
 'arielle',
 'arkin',
 'arm',
 'armand',
 'armed',
 'armin',
 'arms',
 'armstrong',
 'army',
 'arnett',
 'arnold',
 'arquette',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrives',
 'art',
 'arthur',
 'artificial',
 'artist',
 'arts',
 'ash',
 'ashley',
 'ashton',
 'asia',
 'asks',
 'aspiring',
 'assassin',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assistant',
 'astin',
 'astronaut',
 'asylum',
 'athlete',
 'atkins',
 'atkinson',
 'atlantic',
 'atomic',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempted',
 'attempts',
 'attention',
 'attorney',
 'attraction',
 'attractive',
 'aubrey',
 'audrey',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'auto',
 'ava',
 'avenge',
 'avery',
 'avoid',
 'award',
 'away',
 'awry',
 'axel',
 'aykroyd',
 'azaria',
 'aziz',
 'baby',
 'bachchan',
 'bachelor',
 'backdrop',
 'bacon',
 'bad',
 'bag',
 'bailey',
 'baker',
 'balaban',
 'balance',
 'baldwin',
 'bale',
 'ball',
 'ballard',
 'ballet',
 'bana',
 'band',
 'banderas',
 'bank',
 'banks',
 'baptiste',
 'bar',
 'barbara',
 'barber',
 'barker',
 'barnes',
 'barnett',
 'barney',
 'baron',
 'barr',
 'barrett',
 'barrier',
 'barry',
 'barrymore',
 'bart',
 'bartlett',
 'barton',
 'baruchel',
 'base',
 'baseball',
 'based',
 'basement',
 'basinger',
 'basketball',
 'bassett',
 'bateman',
 'bates',
 'batman',
 'battle',
 'battles',
 'battling',
 'bauer',
 'baxter',
 'bay',
 'beach',
 'bean',
 'bear',
 'beard',
 'beasley',
 'beast',
 'beat',
 'beatrice',
 'beatty',
 'beau',
 'beautiful',
 'beauty',
 'becca',
 'beck',
 'becker',
 'beckinsale',
 'bed',
 'bee',
 'beer',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'believe',
 'believes',
 'bell',
 'bella',
 'bellamy',
 'belle',
 'bello',
 'beloved',
 'belushi',
 'ben',
 'benedict',
 'benicio',
 'benito',
 'benjamin',
 'bennett',
 'benson',
 'bent',
 'bentley',
 'berg',
 'bergen',
 'berger',
 'bergman',
 'berkeley',
 'berlin',
 'bernadette',
 'bernard',
 'bernie',
 'berry',
 'bert',
 'bess',
 'best',
 'bet',
 'beth',
 'betrayal',
 'betsy',
 'bettany',
 'bette',
 'better',
 'betty',
 'beverly',
 'bey',
 'bianca',
 'bible',
 'biehn',
 'biel',
 'big',
 'biggest',
 'biggs',
 'biker',
 'billie',
 'billingsley',
 'billionaire',
 'billy',
 'biography',
 'birch',
 'bird',
 'birth',
 'birthday',
 'bishop',
 'bit',
 'bite',
 'bizarre',
 'black',
 'blackmail',
 'blackwell',
 'blade',
 'blair',
 'blake',
 'blanchard',
 'blanchett',
 'blind',
 'bliss',
 'block',
 'blonde',
 'blood',
 'bloody',
 'bloom',
 'blow',
 'blue',
 'blunt',
 'bo',
 'board',
 'boarding',
 'boat',
 'bob',
 'bobby',
 'body',
 'bodyguard',
 'bomb',
 'bombing',
 'bond',
 'bonham',
 'bonnie',
 'book',
 'boone',
 'booth',
 'border',
 'boris',
 'born',
 'boss',
 'boston',
 'bosworth',
 'bound',
 'bounty',
 'bowen',
 'bower',
 'bowman',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyd',
 'boyer',
 'boyfriend',
 'boyle',
 'boys',
 'brad',
 'bradford',
 'bradley',
 'brady',
 'brain',
 'branagh',
 'brand',
 'brandon',
 'bratt',
 'braun',
 'brave',
 'bravery',
 'break',
 'breaking',
 'breaks',
 'breckin',
 'brenda',
 'brendan',
 'brennan',
 'brent',
 'breslin',
 'brett',
 'brewster',
 'brian',
 'brianna',
 'bride',
 'bridge',
 'bridges',
 'bridget',
 'brie',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britt',
 'brittany',
 'broadbent',
 'broadway',
 'brock',
 'broderick',
 'brody',
 'broken',
 'brolin',
 'bronson',
 'brooke',
 'brooklyn',
 'brooks',
 'brophy',
 'brosnan',
 'brother',
 'brothers',
 'brought',
 'brown',
 'browne',
 'browning',
 'bruce',
 'bruno',
 'brutal',
 'brutality',
 'brutally',
 'bryan',
 'bryant',
 'bryce',
 'buck',
 'buckley',
 'bud',
 'buddy',
 'build',
 'building',
 'bullock',
 'bully',
 'bumbling',
 'buried',
 'burke',
 'burn',
 'burnett',
 'burns',
 'burr',
 'burrell',
 'burrows',
 'burt',
 'burton',
 'bus',
 'buscemi',
 'busey',
 'bush',
 'business',
 'businessman',
 'busy',
 'butcher',
 'butler',
 'byrd',
 'byrne',
 'byrnes',
 'byron',
 'caan',
 'cabin',
 'caesar',
 'cage',
 'cahill',
 'cain',
 'caine',
 'caitlin',
 'cal',
 'caleb',
 'california',
 'callahan',
 'callan',
 'called',
 'callie',
 'calls',
 'callum',
 'calvin',
 'cam',
 'came',
 'camera',
 'cameron',
 'camilla',
 'camille',
 'camp',
 'campaign',
 'campbell',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candice',
 'candy',
 'cannavale',
 'cannon',
 'capable',
 'captain',
 'captive',
 'capture',
 'captured',
 'car',
 'cara',
 'card',
 'care',
 'career',
 'carell',
 'carey',
 'carl',
 'carla',
 'carlo',
 'carlos',
 'carlson',
 'carly',
 'carmen',
 'carol',
 'carole',
 'carolina',
 'caroline',
 'carolyn',
 'carpenter',
 'carr',
 'carradine',
 'carrey',
 'carrie',
 'carroll',
 'carry',
 'cars',
 'carson',
 'carter',
 'cartoon',
 'cartwright',
 'caruso',
 'cary',
 'case',
 'casey',
 'cash',
 'casino',
 'cassandra',
 'cassel',
 'cassidy',
 'cast',
 'castillo',
 'castle',
 'castro',
 'cat',
 'catch',
 'catches',
 'cate',
 'catherine',
 'catholic',
 'cathy',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cave',
 'cecil',
 'cedric',
 'celebration',
 'celebrity',
 'celia',
 'cell',
 'center',
 'centered',
 'central',
 'centuries',
 'century',
 'certain',
 'cesar',
 'chad',
 'chain',
 'challenge',
 'challenges',
 'chambers',
 'champion',
 'championship',
 'chan',
 'chance',
 'chandler',
 'chang',
 'change',
 'changed',
 'changes',
 'changing',
 'channing',
 'chao',
 'chaos',
 'chaplin',
 'chapman',
 'character',
 'characters',
 'charge',
 'charged',
 'charles',
 'charlie',
 'charlize',
 'charlotte',
 'charlton',
 'charming',
 'chase',
 'chaykin',
 'chazz',
 'cheadle',
 'cheating',
 'cheech',
 'chef',
 'chelsea',
 'chen',
 'cherry',
 'cheryl',
 'chester',
 'chestnut',
 'cheung',
 'chevy',
 'chi',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childhood',
 'children',
 'chin',
 'china',
 'chinese',
 'chip',
 'chiwetel',
 'chloe',
 'chloë',
 'cho',
 'choi',
 'choice',
 'chong',
 'choose',
 'chosen',
 'chow',
 'chrest',
 'chris',
 'christ',
 'christa',
 'christensen',
 'christian',
 'christianity',
 'christie',
 'christina',
 'christine',
 'christmas',
 'christoph',
 'christophe',
 'christopher',
 'christy',
 'chuck',
 'chun',
 'chung',
 'church',
 'cia',
 'ciarán',
 'cigarette',
 'cillian',
 'cindy',
 'cinema',
 'cinematic',
 'circle',
 'circumstances',
 'circus',
 'citizens',
 'city',
 'civil',
 'civilization',
 'claim',
 'claims',
 'claire',
 'clan',
 'clancy',
 'clare',
 'clarence',
 'clark',
 'clarke',
 'clarkson',
 'clash',
 'class',
 'classic',
 'claude',
 'claudia',
 'claus',
 'clay',
 'clayton',
 'clea',
 'clean',
 'clear',
 'cleese',
 'clement',
 'clements',
 'clendenin',
 'clerk',
 'client',
 'cliff',
 'clifford',
 'clifton',
 'climbing',
 'clint',
 'clive',
 'clock',
 'clone',
 'clooney',
 'cloris',
 'close',
 'closer',
 'club',
 'clues',
 'clyde',
 'coach',
 'coast',
 'coates',
 'cobbs',
 'coburn',
 'cocaine',
 'code',
 'cody',
 'coen',
 'coffin',
 'cohen',
 'cold',
 'cole',
 'coleman',
 'colin',
 'colleague',
 'collect',
 'collection',
 'collector',
 'colleen',
 'college',
 'collette',
 'collide',
 'collins',
 'colm',
 'colony',
 'coltrane',
 'columbus',
 'colón',
 'coma',
 'combat',
 'combs',
 'come',
 'comedian',
 'comedy',
 'comes',
 'comic',
 'comics',
 'coming',
 'commander',
 'commitment',
 'common',
 'community',
 'company',
 'compete',
 'competition',
 'complete',
 'completely',
 'complex',
 'complicated',
 'computer',
 'conan',
 'concert',
 'condition',
 'confidence',
 'conflict',
 'confront',
 'conley',
 'connection',
 'connell',
 'connelly',
 'connery',
 'connie',
 'connolly',
 'connor',
 'conor',
 'conrad',
 'conroy',
 'consequences',
 'conspiracy',
 'constance',
 'constantine',
 'contact',
 'contest',
 'continue',
 'continues',
 'contract',
 'control',
 'controversial',
 'convict',
 'convince',
 'convinced',
 'convinces',
 'conway',
 'coogan',
 'cook',
 'cooke',
 'cool',
 'coolidge',
 'cooper',
 'cop',
 'cope',
 'copeland',
 'coppola',
 'cops',
 'corbett',
 'corbin',
 'corddry',
 'core',
 'corey',
 'corman',
 'corporate',
 'corporation',
 'corpse',
 'corrigan',
 'corrupt',
 'corruption',
 'cory',
 'cost',
 'costa',
 'coster',
 'costner',
 'costume',
 'cotillard',
 'cotton',
 'count',
 'country',
 'countryside',
 'couple',
 'couples',
 'courage',
 'course',
 'court',
 'courtney',
 'cousin',
 'cover',
 'covert',
 'cowardliness',
 'cowboy',
 'cox',
 'coyote',
 'crack',
 'craig',
 'crane',
 'cranston',
 'crash',
 'craven',
 'crawford',
 'crazy',
 'create',
 'created',
 'creates',
 'creature',
 'creatures',
 'crew',
 'crews',
 'crime',
 'crimes',
 'criminal',
 'criminals',
 'crisis',
 'crispin',
 'crocodile',
 'cromwell',
 'crook',
 ...]

In [44]:
import nltk

In [45]:
from nltk.stem.porter import PorterStemmer
ps =PorterStemmer()

In [46]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [47]:
ps.stem("danced")

'danc'

In [48]:
['loved','loving','love']

['loved', 'loving', 'love']

In [49]:
ps.stem("headed")

'head'

In [50]:
new_df['tag']=new_df['tag'].apply(stem)

C:\Users\rishika\AppData\Local\Temp/ipykernel_14584/599176683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(stem)

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
similarity = cosine_similarity(vectors)

In [53]:
similarity = cosine_similarity(vectors)
similarity[0]

array([1.        , 0.10082339, 0.07024632, ..., 0.02909332, 0.03261062,
       0.02351585])

In [54]:
sorted(similarity[0],reverse=True)

[0.9999999999999998,
 0.2935143035436799,
 0.28861075805405445,
 0.2865509325585011,
 0.27792235481398664,
 0.2758671766342886,
 0.2749319144873629,
 0.27153769332085226,
 0.2651316363252391,
 0.2542630582651959,
 0.252040613055538,
 0.24938958072097164,
 0.24722569302909872,
 0.24419809994338013,
 0.24299715851758233,
 0.2422037644244473,
 0.2418662046128641,
 0.24098970282225637,
 0.23759548165574576,
 0.23641634047332222,
 0.23628308656019575,
 0.23540184997155772,
 0.23478786692439363,
 0.23396785669566753,
 0.23363556660755486,
 0.2329262438784932,
 0.23274800711670152,
 0.23131934165340096,
 0.23131249458603917,
 0.22961275721737748,
 0.22555944357002267,
 0.22405579684098512,
 0.22400716834408235,
 0.222631471596936,
 0.22251134298123865,
 0.220959309749447,
 0.21969935932039517,
 0.21909603418734114,
 0.21879950219230276,
 0.21758609616120825,
 0.21608722125836352,
 0.21602378984967952,
 0.2156284592462087,
 0.21561903114814998,
 0.21352988596078942,
 0.21306790582982388,
 0.212284803125379,
 0.21164268645079745,
 0.21121361271164915,
 0.2105006607626112,
 0.21033219281984755,
 0.20931030526815694,
 0.20930266048628224,
 0.20894384634174898,
 0.20864306578602726,
 0.20854895320657388,
 0.20836872213976534,
 0.20817889821265342,
 0.20811169882479263,
 0.20794117746992102,
 0.207852748302635,
 0.207390338946085,
 0.2070455501142161,
 0.20496463750036592,
 0.20243116475050832,
 0.20199076650641637,
 0.20142748436254154,
 0.20138972374831657,
 0.20137774303955508,
 0.20114972514075713,
 0.20089174191687223,
 0.2008293490234971,
 0.20020711139329683,
 0.19998354112658207,
 0.19984633113366962,
 0.19974243389184956,
 0.19880368692901088,
 0.19863608092335522,
 0.19793688211552124,
 0.19749119484037636,
 0.1972703220426719,
 0.19719176150030315,
 0.19693017798878154,
 0.19680097615229245,
 0.19647599956856046,
 0.19503960451016725,
 0.1942848310017964,
 0.19280451008486021,
 0.19280451008486021,
 0.1921878822857269,
 0.19206328047958626,
 0.1920061442949277,
 0.19151713385564992,
 0.19074825241010768,
 0.1906972936988969,
 0.1906901168302778,
 0.19050019050028574,
 0.18974273147466128,
 0.1893302703841605,
 0.18908731420887095,
 0.18827751470952847,
 0.1881490998840562,
 0.18763887809407687,
 0.18725147156828453,
 0.18708909652024835,
 0.18688505756016857,
 0.18669494958603414,
 0.18668216415808594,
 0.18668216415808592,
 0.18590914980593834,
 0.1851871697976906,
 0.1842113137876078,
 0.18400588828263906,
 0.18362796955128757,
 0.18332476398959327,
 0.18327071635385192,
 0.18302145632696137,
 0.18252590494413182,
 0.18222741593828462,
 0.18215302221567492,
 0.18102512888056815,
 0.18068402224834781,
 0.1806340545437646,
 0.180598976564107,
 0.18016221902856752,
 0.179168411810199,
 0.17914100490705478,
 0.1780228456117521,
 0.1772238923058984,
 0.17671438838134298,
 0.17636890537566463,
 0.17600563227035043,
 0.17527682734987293,
 0.17520474146265802,
 0.17429458699031616,
 0.17416144785270704,
 0.17411633648669192,
 0.1739773519105185,
 0.1739692166154819,
 0.17392331807984007,
 0.17387215182155322,
 0.17307199961487488,
 0.17307199961487485,
 0.17279671393145143,
 0.17269762755715234,
 0.17232199768438702,
 0.17224401569239292,
 0.17203340987035964,
 0.17203340987035962,
 0.17200159853833683,
 0.17197311866603007,
 0.171697894875058,
 0.17161145029795857,
 0.1713795203083573,
 0.1712520541960509,
 0.17100036032256744,
 0.1706936329719091,
 0.17038855027411942,
 0.17035634984856987,
 0.16983672369508446,
 0.16971105832553265,
 0.16944976323857566,
 0.16934037482871675,
 0.16828567089845897,
 0.16801978186376954,
 0.1680197818637695,
 0.16756355152074726,
 0.16752591229638997,
 0.16739340469688035,
 0.16735292573013955,
 0.16677635188200524,
 0.1667089547574986,
 0.1666254027196139,
 0.166415384245072,
 0.166282198642108,
 0.16628219864210797,
 0.1661863863618153,
 0.16594110659340877,
 0.16594110659340874,
 0.16542990087898757,
 0.16533862425396553,
 0.1649247702314596,
 0.16476360794145414,
 0.1645798697840852,
 0.16392823681668958,
 0.16387567231435482,
 0.16374339003342914,
 0.1635782428506806,
 0.16344648427686387,
 0.1633045420145043,
 0.1632858775716735,
 0.16318124675946813,
 0.16294190019876845,
 0.16264174931106395,
 0.1625537125568951,
 0.16250003516708203,
 0.16236544079433435,
 0.1623593059164983,
 0.16184720743482306,
 0.16184720743482306,
 0.16184720743482306,
 0.1615411926045334,
 0.16150754870276174,
 0.16122068582590732,
 0.16083597939085645,
 0.16075416024305073,
 0.16053242361253953,
 0.1600051202457731,
 0.15998050217958454,
 0.1598843160607552,
 0.15979513968254178,
 0.15946364620474635,
 0.15938389443871553,
 0.15938389443871553,
 0.15928087738022395,
 0.15920308451727833,
 0.1592030845172783,
 0.15894985851872295,
 0.15894985851872295,
 0.15893080266156348,
 0.1586381989354073,
 0.15853023447146974,
 0.1585012306167727,
 0.1581776771941934,
 0.15786595258691827,
 0.15782807839246213,
 0.1575032377707353,
 0.15750323777073527,
 0.15742818976639322,
 0.15730833577888886,
 0.15723825247642634,
 0.15685399135238673,
 0.15677236033392414,
 0.1565568655786827,
 0.1564507756663987,
 0.1564117149049304,
 0.1561341736594901,
 0.15600499223962877,
 0.1555738720960829,
 0.15554275420956384,
 0.15546280418926778,
 0.15535930945389745,
 0.15518394691689158,
 0.15516439618334413,
 0.15480030245627105,
 0.15472296030682353,
 0.1547229603068235,
 0.1547229603068235,
 0.15462508983367515,
 0.15435629329868572,
 0.15428278029593878,
 0.15428278029593878,
 0.15417230675377241,
 0.15417230675377236,
 0.15417230675377236,
 0.1541610692956319,
 0.15416106929563184,
 0.15381182495907625,
 0.15381182495907622,
 0.15348039289446558,
 0.15316791621349674,
 0.1531424945744752,
 0.1530233079594063,
 0.15285569591066622,
 0.15284260345782288,
 0.15273995249297942,
 0.15259101052435892,
 0.15242534875526564,
 0.15233857731029363,
 0.15209152960803796,
 0.15163761558140584,
 0.15137428344813583,
 0.15126985136709675,
 0.15098089245689064,
 0.1507936999708201,
 0.15026857675938213,
 0.15024258548066846,
 0.1501351825238063,
 0.15010802383280666,
 0.15009810753064337,
 0.14998242496430142,
 0.1495494155523435,
 0.14944064441601537,
 0.14919428275151375,
 0.14917817461601401,
 0.1491693039390355,
 0.14898530324739198,
 0.1489337423172279,
 0.14862624792016882,
 0.1484247207116524,
 0.1482772401192559,
 0.1481959993391142,
 0.14797426528523724,
 0.14795067056846678,
 0.14795067056846678,
 0.14795067056846678,
 0.14791600681605188,
 0.1478063987929849,
 0.14775906590715435,
 0.14775906590715435,
 0.14775906590715432,
 0.1477456106354507,
 0.14769763349158613,
 0.14753292666485082,
 0.14750320586080778,
 0.14750320586080778,
 0.14745720846030824,
 0.14726199031778583,
 0.14698681229148233,
 0.14698681229148233,
 0.14697408781305388,
 0.14697408781305388,
 0.14697408781305388,
 0.14697408781305388,
 0.14697408781305385,
 0.1468786754293109,
 0.1465626165326198,
 0.14640331250026134,
 0.14626069243922424,
 0.1460720260803968,
 0.14591507389988462,
 0.14578722650057044,
 0.14559586766810262,
 0.14555948234511334,
 0.14549692381184448,
 0.14540607339785863,
 0.14514300228593205,
 0.14508169584083758,
 0.14508169584083758,
 0.1450573974408055,
 0.1450573974408055,
 0.1447300768338894,
 0.14459402489515882,
 0.14434609461063852,
 0.1440046082211958,
 0.1440046082211958,
 0.1440046082211958,
 0.1439146896309603,
 0.14368424162141993,
 0.1436332566148039,
 0.14356219670494835,
 0.1434453649115482,
 0.14344536491154816,
 0.14341321102753216,
 0.14331156036378312,
 0.14327546627925053,
 0.14327546627925053,
 0.1431599991285029,
 0.14315999912850289,
 0.14312796232839625,
 0.14311293024703062,
 0.14311293024703056,
 0.14301487409968633,
 0.14255728899344744,
 0.1425303481845527,
 0.14207495155261876,
 0.14205191299379813,
 0.14205191299379813,
 0.14204527055321595,
 0.14194015787226366,
 0.14180593547073334,
 0.14167457283441381,
 0.14155841460212495,
 0.14154880754301793,
 0.141519596044726,
 0.14142588193794386,
 0.14135723894994076,
 0.14111845159246597,
 0.14109512430053167,
 0.14098783873790566,
 0.1408504689106653,
 0.14078573563612412,
 0.14022146187989837,
 0.14022146187989834,
 0.1402214618798983,
 0.14016379317012642,
 0.14003487302561574,
 0.14003487302561574,
 0.1400348730256157,
 0.13994732386230613,
 0.13994732386230613,
 0.13986964007954417,
 0.13986964007954417,
 0.13986964007954417,
 0.13978892276586047,
 0.13953510699085483,
 0.13935124259497905,
 0.13929589756116598,
 0.13925066427614116,
 0.13906735614790997,
 0.13906735614790994,
 0.13892951163533426,
 0.13846387937531435,
 0.13828150822785767,
 0.13828150822785767,
 0.1381584853407059,
 0.13810890059115757,
 0.13794128614834808,
 0.13794128614834805,
 0.1378153330493934,
 0.13769474209757124,
 0.13769474209757124,
 0.13747669803029344,
 0.13747669803029344,
 0.13747669803029344,
 0.1374046749077203,
 0.13738012148305256,
 0.13730300661787845,
 0.13720325868853545,
 0.13717581529218362,
 0.1371758152921836,
 0.13714724592494837,
 0.13714724592494837,
 0.1369587804251184,
 0.13684213487754276,
 0.13684113759855554,
 0.1367570680477649,
 0.13645282502785763,
 0.13633337652435476,
 0.13624273587319113,
 0.13608160645442086,
 0.13607156464306125,
 0.13607156464306125,
 0.13595728373467908,
 0.13595728373467908,
 0.13576884666042616,
 0.13576884666042613,
 0.13576884666042613,
 0.1357688466604261,
 0.13538549856355406,
 0.1352112720390738,
 0.13498025036742686,
 0.1349384483711942,
 0.13487938277867034,
 0.13487267286235255,
 0.1347559757409024,
 0.1347415770725288,
 0.13472042288807118,
 0.13470397652008118,
 0.13458962391896812,
 0.13457960757424048,
 0.13457960757424048,
 0.13443118993359782,
 0.1344311899335978,
 0.13439324028956395,
 0.13437890096823596,
 0.13437630885764926,
 0.1341538666335928,
 0.13412310285001874,
 0.13412310285001874,
 0.13403341838472457,
 0.13392156539154237,
 0.13388394937498654,
 0.13375105112020325,
 0.13374644885431794,
 0.1336405529953917,
 0.13333760020481092,
 0.13325650628383548,
 0.13325650628383548,
 0.13308008840703323,
 0.13308008840703323,
 0.13304150440216123,
 0.1330257589136864,
 0.1325669871888251,
 0.13237691577178606,
 0.13214769150323347,
 0.13179426029666996,
 0.13176298125023525,
 0.13176298125023525,
 0.13171512834099403,
 0.131715128340994,
 0.13164007392500215,
 0.1315145162608,
 0.13128678532585433,
 0.1312526981422794,
 0.1312432184384119,
 0.13102488792810196,
 0.13095975891121414,
 0.1307571874214911,
 0.1307571874214911,
 0.1307571874214911,
 0.1307571874214911,
 0.13068205256070964,
 0.13066377535047194,
 0.13056595521180814,
 0.13048397130494518,
 0.13044248855988003,
 0.13013640486415684,
 0.13011715818729877,
 0.1300429700455161,
 0.12983910369527715,
 0.12981984782790051,
 0.12981984782790051,
 0.1298088232558601,
 0.12952322066786429,
 0.12952322066786426,
 0.12952322066786426,
 0.12949917253905172,
 0.12933059894386179,
 0.12933059894386176,
 0.1290250574027697,
 0.12901506178829336,
 0.12898040432740487,
 0.12898040432740485,
 0.12890238157658201,
 0.12890238157658201,
 0.12886608638183844,
 0.1288660863818384,
 0.12880163722232754,
 0.12880163722232754,
 0.12877729598858054,
 0.12872549081471307,
 0.12864291672183495,
 0.1285395786859013,
 0.1285395786859013,
 0.12840100907539512,
 0.1283402991140892,
 0.12828950144769635,
 0.12828950144769635,
 0.12814947284335323,
 0.12814947284335323,
 0.1281494728433532,
 0.12806290809781323,
 0.12761084151550964,
 0.12737754277131336,
 0.12728329374414948,
 0.12722118918141637,
 0.12715917543696575,
 0.12713152913259795,
 0.12708816869326045,
 0.12683508453020334,
 0.1267071620725117,
 0.12667339600607003,
 0.12667181935835103,
 0.12667181935835103,
 0.12660510232008923,
 0.1264951543164409,
 0.12630039645756674,
 0.1262624627139697,
 0.1262624627139697,
 0.12622018025610696,
 0.12607107189896713,
 0.1260710718989671,
 0.12591556293155165,
 0.12591556293155165,
 0.12591556293155165,
 0.1258811613381957,
 0.1258719859920457,
 0.12581650260394373,
 0.12575068746261084,
 0.12569752716115998,
 0.12569752716115998,
 0.12569752716115998,
 0.12551834313968568,
 0.12541788826713926,
 0.12541788826713926,
 0.1254099861855218,
 0.12533992322982188,
 0.12527684324433203,
 0.12517269177011797,
 0.12480399379170304,
 0.12471164898158096,
 0.12460863621482908,
 0.1245900383734457,
 0.12445477610539063,
 0.1244547761053906,
 0.12444281562522219,
 0.12444281562522219,
 0.12422733006852968,
 0.12422733006852968,
 0.12377836824545882,
 0.12377836824545882,
 0.12377836824545882,
 0.12377836824545882,
 0.12377836824545879,
 0.12377836824545879,
 0.12372918804290342,
 0.12372918804290342,
 0.12357436780653085,
 0.12357436780653083,
 0.12357436780653082,
 0.12354082154324028,
 0.12354082154324028,
 0.12351131643867984,
 0.1234829328196819,
 0.12348293281968188,
 0.1234349023380639,
 0.12343252133245355,
 0.12317828311951182,
 0.12315792138978851,
 0.12302056530880598,
 0.12302056530880598,
 0.12302056530880598,
 0.12302056530880597,
 0.12298235762071978,
 0.12298235762071977,
 0.12298235762071975,
 0.12297799027195085,
 0.12297302911479965,
 0.12297302911479965,
 0.12291933821733982,
 0.1228075425250719,
 0.1228075425250719,
 0.1228075425250719,
 0.12269377914491107,
 0.12269377914491106,
 0.12269377914491104,
 0.12258486320764789,
 0.12258486320764789,
 0.12258486320764789,
 0.12242278206274651,
 0.12232748618631625,
 0.1222418668206399,
 0.12220150936026085,
 0.12220150936026085,
 0.12220150936026085,
 0.12192402355136363,
 0.12179622664559127,
 0.12179491151489315,
 0.12170610733865672,
 0.12170610733865672,
 0.12170610733865672,
 0.12158554652913714,
 0.12143534814378326,
 0.12143534814378326,
 0.12143534814378326,
 0.12143534814378325,
 0.1213854055761173,
 0.1213528232629344,
 0.12133455796334378,
 0.12122035473560494,
 0.12122035473560494,
 0.12097575976534579,
 0.12097575976534578,
 0.12095250190494335,
 0.12084598272804563,
 0.12084598272804561,
 0.12080121666511749,
 0.12073886764591119,
 0.12069862537980458,
 0.12069862537980455,
 0.1206834192537121,
 0.12046013019611165,
 0.12031648641156525,
 0.12010814601904501,
 0.12009269901930023,
 0.12009269901930023,
 0.12009269901930023,
 0.12009269901930021,
 0.12005489478786668,
 0.12005489478786666,
 0.12000384018432983,
 0.12000384018432983,
 0.12000384018432982,
 0.11995737809049913,
 0.1199452874410615,
 0.11981907665645183,
 0.11973686801784994,
 0.11970495095263735,
 0.11966787529070551,
 0.1196678752907055,
 0.11954054575427056,
 0.11953780409295682,
 0.11952286093343933,
 0.11924714462404329,
 0.11924714462404326,
 0.11924714462404326,
 0.1192424259827014,
 0.11922053586668332,
 0.11917906174973861,
 0.11907715573559313,
 0.11902964207177336,
 0.11902964207177336,
 0.11882352998281207,
 0.11882352998281207,
 0.11868332517884086,
 0.11868332517884086,
 0.11868332517884085,
 0.11862179209540472,
 0.11850876511204861,
 0.11838738471109128,
 0.11823614279302302,
 0.11819584118091918,
 0.11817161289227776,
 0.11812742832805145,
 0.11812742832805145,
 0.11802634133188067,
 0.11792868935731973,
 0.11792868935731973,
 0.11788037002706228,
 0.11788037002706228,
 0.11788037002706228,
 0.11780959225422867,
 0.11778322403815981,
 0.117726520490047,
 0.1175792702504431,
 0.1175792702504431,
 0.1175792702504431,
 0.11757927025044308,
 0.11757927025044307,
 0.11757927025044307,
 0.11728641980753943,
 0.11725491302491349,
 0.11717452113108633,
 0.11703867304096448,
 0.11703867304096448,
 0.11687368746107546,
 0.11685121823324865,
 0.11680316097510536,
 0.11680316097510535,
 0.1167733713064728,
 0.11657515903620612,
 0.11644758587609066,
 0.11637329713750812,
 0.1163732971375081,
 0.11604222023011765,
 0.11604222023011762,
 0.11599515382370776,
 0.11598490127367901,
 0.11598490127367901,
 0.115984901273679,
 0.11597947774365458,
 0.11587759916498486,
 0.11567474790201142,
 0.11557411739327088,
 0.11546055130292673,
 0.1153635807365941,
 0.11529596026942478,
 0.11529596026942476,
 0.11529596026942476,
 0.11525073729836977,
 0.11525073729836977,
 0.11525073729836975,
 0.11525073729836974,
 0.1152227332310633,
 0.1152227332310633,
 0.11520368657695663,
 0.11513175170476826,
 0.11490487680969616,
 0.11489138889698175,
 0.11489138889698175,
 0.11487593716012254,
 0.11483079394418508,
 0.1147793621643545,
 0.1147456184146427,
 0.11474561841464269,
 0.11456391502524454,
 0.11449034419762448,
 0.11449034419762448,
 0.11449034419762447,
 0.11441253899380471,
 0.11433799503606348,
 0.11417661566106169,
 0.11413717748989503,
 0.11406864720602847,
 0.11400364817511333,
 0.11393468515487129,
 0.11392993777741742,
 0.11392993777741739,
 0.11392993777741739,
 0.11387505256281888,
 0.11387505256281888,
 0.11387505256281885,
 0.11385953860267838,
 0.1138456388847968,
 0.11384563888479679,
 0.11384563888479679,
 0.11359236684941294,
 0.11359236684941293,
 0.11323904603441437,
 0.11323904603441434,
 0.11323904603441434,
 0.11321870673545652,
 0.11316246128664893,
 0.1131407055503551,
 0.1131407055503551,
 0.11314070555035508,
 0.11296650882571715,
 0.11296650882571715,
 0.11296650882571715,
 0.11296650882571714,
 0.11262230325604086,
 0.11257358064798256,
 0.11257358064798256,
 0.11248681872322605,
 0.11225512575071786,
 0.11207729499553282,
 0.1120772949955328,
 0.11202789842049257,
 0.11202789842049257,
 0.1120131879091797,
 0.1120131879091797,
 0.1120131879091797,
 0.11200358417204118,
 0.11200358417204116,
 0.11184019446554468,
 0.11176925237501562,
 0.111601304492952,
 0.11156479342093749,
 0.11131573579846799,
 0.11131573579846799,
 0.11118423458800351,
 0.1111842345880035,
 0.1111842345880035,
 0.1111842345880035,
 0.1111019672925456,
 0.11110196729254558,
 0.11108360181307593,
 0.11108360181307592,
 0.11104708856986291,
 0.11100865732158621,
 0.1110086573215862,
 0.11085479909473867,
 0.11085479909473867,
 0.11085479909473867,
 0.11085479909473867,
 0.11085479909473867,
 0.11085479909473864,
 0.11048712047292605,
 0.11047965487472348,
 0.1104464927383394,
 0.11044649273833938,
 0.11044649273833937,
 0.11044649273833937,
 0.11031218791159622,
 0.11028190224102244,
 0.11028190224102243,
 0.11009913385079127,
 0.11003293866437708,
 0.10984240529430275,
 0.10980248437519605,
 0.10980248437519603,
 0.10976260695082833,
 0.10974065223374686,
 0.10974065223374685,
 0.10973162119622726,
 0.10946034359655783,
 0.10940565443821194,
 0.10940565443821193,
 0.10916961175883502,
 0.10904607623054191,
 0.109016283576765,
 0.109016283576765,
 0.10901628357676499,
 0.10901628357676499,
 0.10885725171444902,
 0.108857251714449,
 0.10885725171444899,
 0.10885725171444899,
 0.10885725171444899,
 0.10885725171444899,
 0.10885725171444899,
 0.10870207379990003,
 0.10870207379990003,
 0.10870207379990003,
 0.10870207379990003,
 0.10869891380996347,
 0.10862793346584564,
 0.10862793346584564,
 0.10862793346584562,
 0.10861507732834094,
 0.10856249923036024,
 0.10856249923036021,
 0.10854755762541704,
 0.10854755762541704,
 0.10854755762541703,
 0.10854755762541703,
 0.10852075244964708,
 0.10830607221477648,
 0.10830607221477645,
 0.10830607221477645,
 0.10830607221477645,
 0.10807604135923302,
 0.10789813828988204,
 0.10789813828988204,
 0.10789813828988204,
 0.10789813828988204,
 0.10789813828988204,
 0.10781422962310433,
 0.10781422962310433,
 0.10778099772957285,
 0.1076095629181298,
 0.1076095629181298,
 0.1076095629181298,
 0.10742799166002218,
 0.10733469768527296,
 0.10733469768527296,
 0.10733469768527296,
 0.10733469768527296,
 0.10733469768527294,
 0.10733469768527294,
 0.10716944016203382,
 0.10714947805169356,
 0.10714947805169356,
 0.10711239569098734,
 0.10701854177705764,
 0.10696393769075527,
 0.10696393769075525,
 0.10696393769075525,
 0.10674331744001098,
 0.10674331744001098,
 0.10674331744001098,
 0.10667008016384873,
 0.10655232052128188,
 0.10650584591684605,
 0.10635445160305002,
 0.10635445160304999,
 0.10634236792959136,
 0.10634236792959136,
 0.10624021477996153,
 0.10624021477996151,
 0.10624021477996151,
 0.10616160565726346,
 0.1060176576511803,
 0.10601765765118029,
 0.10595386844104232,
 0.1055979918469981,
 0.1055979918469981,

In [55]:
new_df[new_df['title'] == 'The Lego Movie'].index[0]

744

In [56]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [57]:
recommend('Avatar')

Star Trek Into Darkness
Aliens
The Thing
Armageddon
Lockout

In [60]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [59]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [62]:
pickle.dump(new_df.to_dict(),open('movies_li.pkl','wb'))

In [58]:
import pickle
pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))